@keyframes progress-bar {
    0% {
        transform: scaleX(0);
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}

.btn {
    &__2 {
        &:active {
            & + .progress {
                & > .progress__bar {
                    animation: progress-bar 1000ms 150ms;
                }
            }
        }
    }
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $cd-primary;
    width: 600px;
    height: 20px;
    padding: 5px;
    &__bar {
        width: 600px;
        height: 20px;
        background-color: $cd-secondary;
        opacity: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 2000ms cubic-bezier(.16,0,.16,.99);
    }
}

