body {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
    background-color: rgb(12, 12, 22);
    border: 1px solid white;
    &__load {
      @extend .container;
      flex-direction: column;
    }
  }
  
  .btn {
    margin: 25px;
    background: $cd-primary;
    font-size: 2rem;
    cursor: pointer;
    padding: 1.25rem 2rem;
    border-radius: 5rem;
  }